<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('buyInfoDetails')" />
	<link rel="stylesheet" th:href="@{/css/orderbuy.css}" />
	<script type="text/javascript" th:src="@{/js/orderbuy.js}"></script>
	<script type="text/javascript" th:src="@{/js/kakaoAdress.js}"></script>
	
	<!--Daum 우편번호 서비스의 API를 로드하는 코드-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!--아임포트 결제 모듈의 스크립트 파일 중 하나로, 실제 결제를 처리하는 로직이 포함되어 있습니다-->
	<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<!--아임포트의 인증 및 기타 기능들을 담당하는 스크립트 파일-->
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

</head>

<script>
   
   $(document).ready(function () {
      //페이먼트 모달
      document.getElementById("modal_opne_btn").onclick = function () {
         $('#modalDialog').modal();
      }; 
      
      //주소 모달창
      $('#addAddress').click(function () {
         $('#modalDialogAdress').modal();
      });
   });

   function addadressForuser(useraddress) {
      //주소를 입력하는 modal창이 떴을 때
      if (!$("#sample6_address").val()) {
         alert("우편번호 찾기를 진행해 주세요")
         return;
         //만약 우편번호의 value가 없으면 alert창을 띄어줍니다.
      }
      if (!$("#sample6_detailAddress").val()) {
         alert("상세 주소를 작성해 주세요")
         return;
         //똑같이 상세주소의 value가 없으면 alert창을 띄어줍니다.
      }
      url = "[[@{/add/address}]]"; //url 매핑 할 주소
      number = ($('option').length + 1);//select 함수의 옵션의 갯수에다가 +1을 해준 값을 더해 줍니다.
      // 이유는 옵션에 있는 다음 옵션에 가공한 정보를 넣어줘야하기 때문
      csrfValue = $("input[name='_csrf']").val();

      params = {useraddress: useraddress, _csrf: csrfValue, number: number};

      $.post(url, params, function (response) {
         $("#close").click();
         //요청을 보내고 나면 모달창을 닫아줍니다
         $('#select3').html($('#select3').html() + 
         '<option id="address' + ($('option').length + 1) + 
         '" value="' + response + '">' + response + '</option>');
         //가지고 온 데이터를 html형식으로 추가되어 있는 다음 옵션의 값에 넣어줍니다.
         if ($('option').length >= 3) {
            $("#addAddress").remove();
         }
         //3개의 주소만 받기 때문에 옵션의 갯수가 3이 넘어가면 추가하는 버튼을 지워줍니다.
         $("#sample6_postcode").val("");
         $("#sample6_extraAddress").val("");
         $("#sample6_detailAddress").val("");
         $("#sample6_address").val("");
         //다시 주소를 추가하는 모달 창을 띄웠을 때 값을 빈값으로 초기화 해주기 위해 빈 값을 넣어줍니다.
      }).fail(function () {
         alert("error");
      })
   }
   
  

	function requestPay(pg) {
		var IMP = window.IMP;
		IMP.init("imp16604135"); // "iamport" 대신 발급받은 "가맹점 식별코드"를 사용합니다.
	
		IMP.request_pay({
			pg: pg,
			pay_method: 'card',
			merchant_uid: 'merchant_' + new Date().getTime(),
			name: 'BookQuest 상품구매',
			amount: '[[${totalPrice}]]',
			buyer_email: 'iamport@siot.do',
			buyer_name: '구매자이름',
			buyer_tel: '010-1234-5678',
			buyer_addr: '서울특별시 종로구 묘동 56 단성사 빌딩 3층',
			buyer_postcode: '123-456',
			m_redirect_url: 'https://www.yourdomain.com/payments/complete'
		}, function(rsp) {
			console.log(rsp);
			if (rsp.success) {
				var msg = '결제가 완료되었습니다.';
				msg += '고유ID : ' + rsp.imp_uid;
				msg += '상점 거래ID : ' + rsp.merchant_uid;
				msg += '결제 금액 : ' + rsp.paid_amount;
				msg += '카드 승인번호 : ' + rsp.apply_num;
				$('#easyPayment').val(rsp.pg_provider)
				$("#orderBuyBook").submit(); //제이쿼리
				//document.getElementById("orderBuyBook").submit(); //스크립트
			} else {
				var msg = '결제에 실패하였습니다.';
				msg += '에러내용 : ' + rsp.error_msg;
				alert(msg);
			}
		});
	}
</script>


<body>
	<div th:replace="commonspace :: menu"></div>

	<div id="title_box1">
		<span>주문/결제</span>
	</div>

	<div id="title_box2">
		<span>주문 상품 정보</span>
	</div>

	<div id="order_box1">

		<div id="left">
			<div th:each="book, i: ${bookdetail}">
				<div style="padding-top: 10px;">
					<div id="book_title" style="margin: auto; margin-bottom: 3px;">제목:&nbsp;&nbsp;[[${book.title}]]
					</div>
					<div id="author_name" style="margin-bottom: 8px;">작가:&nbsp;&nbsp; [[${book.author}]]</div>
				</div>

				<div th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + '원'}"
					style="color: #5747E6; border-bottom: 1px solid #DADADA; padding-bottom: 10px; font-weight:600;">
				</div>
			</div>
		</div>
		<div id="right">
			<div th:each="bookquantity:${bookquantity}">
				<div
					style="height:88.8px ; text-align: right; border-bottom: 1px solid #DADADA; font-size:14px; color:#7D7D7D">
					[[${bookquantity}]]권</div>
			</div>
		</div>
	</div>

	<div id="order_total_price_box">
		<div id="total_price_text_box">총 결제 금액</div>

		<div id="total_price" th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + '원'}">
		</div>
	</div>
	<br><br>
	<div id="delivery_box">

		<div id="delivery_textbox">배송지 정보 입력
			<button th:if="${user.address3==null}" style="float:right" id="addAddress">+ 주소 추가</button>
		</div>


		<form th:action="@{/order/orderbuy}" th:object="${orders}" method="post" id="orderBuyBook">
			<input type="hidden" name="easyPayment" id="easyPayment"/>
			
			<div th:each="book:${bookdetail}">
				<input type="hidden" th:value="${book.bookId}" name="bookId" />
			</div>
			<div th:each="bookquantitys:${bookquantity}">
				<input type="hidden" th:value="${bookquantitys}" name="bookquantity" />
			</div>
			<input type="hidden" th:field="*{orderId}" /> <input type="hidden" th:value="${totalPrice}"
				name="totalPrice" />

			<div id="delivery_info">
				<div id="info_firstline">
					<div id="delivery_info1">
						<div style="margin-top: 4px;">배송지 선택</div>
						<div>
							<input type="text" placeholder="집" id="select1" />
						</div>
					</div>

					<div id="delivery_info2">
						<div style="margin-top: 4px;">주문인</div>
						<div>
							<input type="text" th:field="*{user.name}" placeholder="이름" id="select2" />
						</div>
					</div>
				</div>

				<div id="info_secondline">
					<div id="delivery_info3">
						<div style="margin-top: 4px;">주소</div>
						<div>

							<select id="select3" th:field="*{address}">
								<option id="address1" th:value="${user.address1}" th:text="${user.address1}"></option>
								<option id="address2" th:if="${user.address2!=null}" th:value="${user.address2}"
									th:text="${user.address2}"></option>
								<option id="address3" th:if="${user.address3!=null}" th:value="${user.address3}"
									th:text="${user.address3}"></option>
							</select>
						</div>
					</div>

					<div id="delivery_info4">
						<div style="margin-top: 4px;">핸드폰 번호</div>
						<div>
							<input type="text" th:field="*{user.phone}" placeholder="핸드폰 번호" id="select4" />
						</div>
					</div>
				</div>
			</div>
						
			<div id="payment_top">
				<div id="delivery_textbox">결제수단 선택</div>
				<div id="root">
					<button type="button" id="modal_opne_btn" class="addPaymentButton">+ 결제수단 추가</button>
				</div>	
			</div>
			
			<div>
				<button type="button" id="easyPayment" onclick="showEasyPaymentBox()">간편 결제 하기</button>
				<button type="button" id="selectButtonPayment" onclick="showPaymentSelectBox()">일반 결제 하기</button>
			</div>
			
	
			<div id="payment_select_box">
				<select name="selectedPayment" th:field="*{payment}">
					<th:block th:each="payment: ${paymentList}">
						<option th:value="${payment.paymentId}" th:text="${payment.bank}"/>
					</th:block>
				</select>
				<label for="buttonPayment">
					<img th:src="@{/images/normalPayment.png}" style="width: 40px; height: 40px; margin-top: 10px;">
				</label>
				<input type="submit" value="결제하기" id="buttonPayment" onclick="return confirmPayment()">
			</div>
			
			<div id="easyPayment_button_box">
				<button type="button" onclick="requestPay('html5_inicis')">
					<img th:src="@{/images/KGPayment.png}" style="width: 23px; height: 33px; padding-bottom: 8px;">
					<span style="font-size: 19px; font-weight:500;">통합결제</span>
				</button>
				<button type="button" onclick="requestPay('kakaopay')">
					<img th:src="@{/images/kakaopay.png}" style="width: 60px; height: 24px;">
					<span style="font-size: 19px; font-weight:500;">카카오페이</span>
				</button>
				<button type="button" onclick="requestPay('tosspay')">
					<img th:src="@{/images/tosspay.png}" style="width: 64px; height: 26px;">
					<span style="font-size: 19px; font-weight:500;">토스페이</span>
				</button>
			</div>
		</form>
		<hr>
		<div style="display: flex; justify-content: flex-end; padding-top:12px; border-top: 1px solid  #CCC;">
			<input type="button" value="취소" id="buttonCancel" onclick="history.back()"/>
		</div>
	</div>
	
	<div class="modal fade text-center" id="modalDialogAdress">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">주소지 추가</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody">

						<p>
							<input type="text" id="sample6_postcode" placeholder="우편번호" class="form-control" required
								readonly>
							<input type="button" id="address_button" onclick="sample6_execDaumPostcode()" required
								value="우편번호 찾기"><br>
							<input type="text" id="sample6_address" class="form-control" placeholder="상세주소" readonly
								required>
							<input type="text" id="sample6_detailAddress" placeholder="상세주소 입력" class="form-control"
								required>
							<input type="text" id="sample6_extraAddress" placeholder="참고항목" class="form-control"
								readonly>
						</p>
						<div class="modal-footer">
							<button type="button" class="cancel_button" id="close" data-dismiss="modal">취소</button>
							<button type="button" id="addaddress" class ="save_button"
								onclick="event.stopPropagation(); addadressForuser($('#sample6_address').val());">저장</button>
						</div>

					</span>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	<div class="modal fade text-center" id="modalDialog">
		<form id="asdasdasd" th:action="@{/payment/save}" th:object="${payment}" method="POST">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">결제수단 추가하기</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
							<input type="hidden" th:field="*{paymentId}" />
						<div>
							카드를 입력해주세요
							<input type="text" th:field="*{bank}" id="bank" placeholder="카드명" required>
						</div>

						<div>
							카드번호를 입력해주세요
							<input type="text" th:field="*{accountNumber}" id="accountnumber" placeholder="카드번호"
								minlength="16" maxlength="16" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="cancel_button" data-dismiss="modal">취소</button>
						<button type="submit" class ="save_button" value="Save">저장</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	
	
	
	
	
	
	
	<div th:replace="commonspace :: footer"></div>
</body>

</html>