.icon_and_title {
	width: 1000px;
	height: 140px;
	padding-top: 60px;
	margin: auto;
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}

.icon_box {
	width: 90px;
	height: 90px;
	border: 1px solid #DADADA;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 17px;
}

.level_and_name {
	width: 330px;
	height: 72px;
	margin-bottom: 8px;
}

.name {
	font-weight: 500;
	font-size: 27px;
}

.user_info_box {
	width: 1000px;
	height: 130px;
	background-color: #F6F6F6;
	border: 1px solid #DADADA;
	border-radius: 10px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 15px;
}

.my_level,
.shipping,
.delevered {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user_info,
.order_history,
.payment_method {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3px;
}

.revise_button,
.order_history_button,
.payment_button {
	border-radius: 6px;
	width: 90px;
	height: 30px;
	border: 1px solid #DADADA;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	margin-top: 14px;
}

#category_select_div {
	width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 8px;
}

#category_select_button {
	width: 35px;
	/* 버튼 너비와 이미지 너비 동일하게 설정 */
	height: 35px;
	/* 버튼 높이와 이미지 높이 동일하게 설정 */
	border: 1px solid #DADADA;
	border-radius: 8px;
	background: none;
	padding: 0;
	/* 내부 패딩 제거 */
	margin: auto;
}


.graph_box {
	display: flex;
	width: 1000px;
	height: 30px;
	margin: auto;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 18px;
}

.graph_text {
	font-size: 22px;
	font-weight: 600;
	margin-right: 10px;
	padding-bottom: 2px;
}

#category_select_button img {
	display: block;
	width: 20px;
	height: 20px;
	margin: auto;
}

.cancel_button {
	width: 50px;
	height: 30px;
	background-color: white;
	color: #5747E6;
	border: 1px solid #5747E6;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
}

.apply_button {
	width: 50px;
	height: 30px;
	background-color: #5747E6;
	color: white;
	border: none;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	margin-left: 3px;
}

.chart_box {
	width: 1000px;
	height: 370px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 70px;
}

.radar-chart_box1 {
	width: 495px;
	height: 360px;
	border: 2px solid #E7E7E7;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding-left: 25px;
}

.radar-chart_box2 {
	width: 360px;
	height: 320px;
	margin: auto;
}

.bar-chart_box1 {
	width: 480px;
	height: 360px;
	border: 2px solid #E7E7E7;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bar-chart_box2 {
	width: 380px;
	height: 275px;
	margin-right: 22px;
}

.count_box {
	width: 30px;
	height: 275px;
	display: flex;
	flex-direction: column;
	padding-top: 23px;
}

.count {
	font-size: 13px;
	margin-bottom: 23px;
	color: #5D5D5D;
}

table {
	border: 1ch;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid rgb(239, 240, 241);
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: rgb(239, 240, 241);
}

#background {
	display: flex;
	justify-content: space-around;
	background-color: rgb(239, 240, 241);
}