* {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#navbar_box1 {
	width: 100%;
	height: 100px;
}

#navbar_box2 {
	width: 1200px;
	height: 100%;
	margin: auto;
	border-bottom: 1px solid #bbbbbb;
}

#logo {
	width: 120px;
	margin-right: 25px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

a:active {
	color: black;
	text-decoration: none;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
	outline: none;
	border: 2px solid #9999;
	border-radius: 5px;
	vertical-align: middle;
}

input[type="checkbox"]:checked:before {
	content: "\2713";
	position: absolute;
	font-size: 30px;
	color: #5747E6;
	border-radius: 4px;
	text-align: center;
	line-height: 0px;

}


#footer {
	background-color: black;
	padding-top: 40px;
	height: 300px;
	text-align: center;
}